#item {
    width: 80%;
    margin: 150px 0 0 40px;
}
#item .ratings {
    width: 200px;
}
ul > li {
    margin-right: 25px;
    cursor: pointer;
}
li.active {
    border-bottom: 3px solid silver;
}
.item-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f6f6f6;
    padding: 0 40px;
    margin: 0 40px;
    max-width: 100%;
    height: auto;
}
hr {
 display: block;
 border: 2px inset #CCC;
 margin: 5em auto 0;
 width: 100%;
}
.menu-items {
	margin:5% auto 0;
    list-style-type: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-flex;
}
.menu-items ul {
  list-style-type: none;
  font-size: 1.4em;
  font-weight: 600;
  display: inline-flex;
  margin-left: 20px;
  margin-bottom: 0px;
}
.menu-items li {
  margin-right: 10%;
  cursor: pointer;
}
.menu-items li.active {
  border-bottom: 3px solid silver;
}
.menu-items a {
  text-decoration: none;
}
.menu-items a:hover {
  color: #666;
  text-decoration: none;
}
.top {
  position: fixed;
  bottom: 6%;
  right: 1%;
}
.top a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}
.top a:hover {
  font-weight: 600;
}
.section {
    width: 200px;
    margin-left: -15px;
    padding: 5px 15px;
    background: #f9f9f9
}
.title-price {
    margin-top: 30px;
    margin-bottom: 0px;
    color: black
}
.title-attr {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    color: black;
}

div.section > div {
    width: 100%;
    display: inline-flex;
}

input[type=radio] {
	display:none;
	margin:10px;
}
input[type=radio] + label {
    cursor: pointer;
    margin-right: 5px;
    height: 20px;
    font-size: 10px;
    padding: 2px 7px 0px 7px;
    border: 1px solid gray;
    border-radius: 2px;
}
.size > input[type=radio]:checked + label {
	background-image: none;
	background-color:#d0d0d0;
}
.color > input[type=radio]:not(:checked) + label {
	color: transparent;
}

.textpart {
  width: 94%;
  margin: 0 auto;
  padding: 15% 0;
}
.textpart p {
  padding: 5px 10px 0;
}
.textpart ul {
  padding: 0 30px;
}
#part1 {
  border-top: 1px solid #999;
  margin-top: 0;
}