body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #eee;
}

h2 {
  padding: 10%;
}

h3 {
  color: #666;
}

#item {
  width: 80%;
  margin: 5% 0 0 5%;
}

.ratings {
  width: 300px;
}

ul>li {
  margin-right: 25px;
  cursor: pointer;
}

li.active {
  border-bottom: 3px solid silver;
}

.item-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #f6f6f6;
  padding: 0 40px;
  margin: 0 40px;
  max-width: 100%;
  min-width: 200px;
  height: auto;
}

.menu-items {
  list-style-type: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-flex;
  margin: 40px 0 0 40px;
  padding: 0;
}

.section {
  width: 300px;
  margin-left: -15px;
  padding: 5px 15px;
  background: #f9f9f9
}

.title-price {
  margin-top: 30px;
  margin-bottom: 0px;
  color: black
}

.title-attr {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  color: black;
}

.btn-minus, .btn-plus {
  cursor: pointer;
  font-size: 7px;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 2px;
  border-right: 0px;
}

.btn-plus {
  cursor: pointer;
  font-size: 7px;
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 2px;
  border-left: 0px;
}

div.section>div {
  width: 100%;
  display: inline-flex;
}

div.section>div>input {
  padding: 5px;
  font-size: 10px;
  max-width: 18%;
  text-align: center;
}

.attr, .attr2 {
  cursor: pointer;
  margin: 5px 5px 0 0;
  height: 22px;
  font-size: 10px;
  padding: 0 5px 5px 6px;
  border: 1px solid gray;
  border-radius: 2px;
}

.attr:active, .attr2:active {
  border: 1px solid orange;
}
